
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmationSent</title>
</head>
<body>
    <div>
        Thank you for confirming you email
    </div>
</body>
</html>
